*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
body {
    background-color: #dbc3a3;
    padding: 20px;
    margin: 10px;
    font-family: Arial;
}  
  
.container{
    width: 96%;
    margin: 20px auto;
}
.book{
    width: 19%;
    float: left;
    background:rgba(255, 255, 255, 0.5);
    margin: 5px;
    padding: 10px;
}

button{
    color: #fff;
    background: #2F4F4F;
    width: 65%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}


button:hover{
    background: #ADD;
    transition: 0.3S ease;
}

.table-box{
    margin: 5px auto;
}
.table-row{
    display: table;
    width: 95%;
    margin: 15px 25px;
    font-family: sans-serif;
    background: rgba(255, 255, 255, 0.5);
    padding: 12px 0px;
    color: #555;
    font-size: 13px;
    box-shadow: 0 1px 4px 0 rgba(0,0 ,50,0.3);
}
.table-cell{
    display: table-cell;
    width: 20%;
    text-align: center;
    padding: 4px 0;
    border-right: 1px solid #555;
    vertical-align: middle;
}
.table-head{
    background: #2f4F4F;
    box-shadow: none;
    color: #fff;
    font-weight: 600s;
}
.last-cell{
    border-right: none;
}

.first-cell{
    text-align: left;
    padding-left: 10px;
}